.content-area {
    margin-bottom: 1.5rem;
    margin-left: 0.8rem;
}

.netflix-content {
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.cards-wrapper {
    margin-top: 0.5rem;
}

.section-title {
    font-size: 2rem;
    font-weight: 500;
}

.cards-wrapper {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.cards-wrapper::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    width: 20rem;
    height: 12rem;
    cursor: pointer;
    flex-shrink: 0;
}

.card-img {
    height: 100%;
    border-radius: 8px;
    transition: opacity 0.3s ease 0.4s; /* added this for smooth transition */
}

/* Pogressbar line  */

.progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    z-index: 2;
}

.progress-bar {
    height: 100%;
    background-color: #e50914;
}

.card-1 { width: 15rem; }
.card-2 { width: 12rem; }
.card-3 { width: 14rem; }
.card-4 { width: 16rem; }
.card-5 { width: 18rem; }
.card-6 { width: 8rem; }
.card-7 { width: 15rem; }
.card-8 { width: 17rem; }
.card-9 { width: 19rem; }
.card-10 { width: 11rem; }

/* Hover card styling started here  */

.hover-card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 12rem;
    background: #181818;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.75);
    transform-origin: center center;
    transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        visibility 0s linear 0.3s;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.hover-card a {
    text-decoration: none;
}

.card:hover .hover-card {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1.15);
    transition:
        transform 0.3s ease 0.4s,
        opacity 0.3s ease 0.4s,
        visibility 0s linear 0.4s;
}

.card-video {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background: #000;
  overflow: hidden;
}

.preview-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.buttons .play-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.643);
    padding: 2px 8px;
    border-radius: 15px;
}

.buttons .play-btn:hover{
    color: white;
}

.buttons i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.card-video i:hover {
    color: white;
    border-color: white;
    background: rgba(0, 0, 0, 0.3);
}

/* .info {
  padding: 14px;
  color: white;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.left-btn {
    display: flex;
    gap: 8px;
}

.action i {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.2s, background 0.2s;
}

.action i:hover {
    border-color: white;
}

.meta {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.rating {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 2px 6px;
  font-size: 11px;
  border-radius: 2px;
}

.genres {
  font-size: 14px;
  color: #ddd;
}

.dot {
  color: white;
  margin: 0 4px;
  font-weight: bold;
} */

/* This classes is used to control the scale postion of first and last child of card so card not go outside the screen when hover on it  */

.cards-wrapper .card:first-child .hover-card {
    left: 0;
    transform: translate(0, -50%) scale(0.75);
    transform-origin: left center;
}

.cards-wrapper .card:first-child:hover .hover-card {
    transform: translate(0, -50%) scale(1.15);
}

.cards-wrapper .card:last-child .hover-card {
    left: auto;
    right: 0;
    transform: translate(0, -50%) scale(0.75);
    transform-origin: right center;
}

.cards-wrapper .card:last-child:hover .hover-card {
    transform: translate(0, -50%) scale(1.15);
}

/* Hover card styling ended here  */

.top-10 {
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.top-10-cards {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
}

.top-10-cards::-webkit-scrollbar {
    display: none;
}

.top-10-card {
    display: flex;
    align-items: center;
}

.numbers {
    font-size: 320px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 3px #4a4a4a;
    margin-right: -65px;
    line-height: 0.9;
}

.poster {
    width: 180px;
    height: 230px;
    border-radius: 8px;
}

.poster img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* TV Shows & Movies section styling  */

.show-cards-wrapper {
    display: flex;
    gap: 2px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 0.8rem;
}

.show-cards-wrapper::-webkit-scrollbar {
    display: none;
}

.show-title {
    font-size: 1.3rem;
    font-weight: 500;
}

.show-card {
    position: relative;
    width: 15.8rem;
    height: 8.5rem;
    cursor: pointer;
    flex-shrink: 0;
}

.show-card .hover-card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15.8rem;
    height: 8.5rem;
    background: #181818;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.75);
    transform-origin: center center;
    transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        visibility 0s linear 0.3s;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.show-card:hover .hover-card {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1.05);
    transition:
        transform 0.3s ease 0.4s,
        opacity 0.3s ease 0.4s,
        visibility 0s linear 0.4s;
}

.show-card .buttons .play-btn {
    position: absolute;
    bottom: 14px;
    left: 10px;
    background: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.643);
    padding: 2px 8px;
    border-radius: 15px;
}

.show-card .buttons .play-btn:hover{
    color: white;
}

.show-card .buttons i {
  position: absolute;
  bottom: 14px;
  right: 10px;
  width: 28px;
  height: 28px;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.show-card .card-video i:hover {
    color: white;
    border-color: white;
    background: rgba(0, 0, 0, 0.3);
}

.shows-number {
    font-size: 280px;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: 3px #4a4a4a;
    margin-right: -50px;
    line-height: 0.8;
}

.show-poster {
    width: 150px;
    height: 202.5px;
}

.show-poster img {
    height: 100%;
    object-fit: cover;
    border-radius: 0.5px;
}